/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

/* Asterisk wildcard selector */
/* Remove default styles added by browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(88, 32, 32);
    background-color: #30513b;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/wallpaper-gold.webp);
    background-size: cover;
}

h1,
h2 {
    font-family: 'Playpen Sans', sans-serif;
    text-transform: uppercase;
}

/* Header */
header {
    position: fixed;
    z-index: 98;
    background-color: #871f1f;
    width: 100%;
    background-image: url(../images/snowflakes.webp);
    background-size: cover;
    border-bottom: 10px solid white;
    box-shadow: 0 0 7px -1px #edeac4;
}

h1 {
    font-size: 1.5rem;
    width: fit-content;
    margin: 7px auto;
    padding: 7px 15px;
}

.stats-area {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    flex-basis: 33%;
    font-weight: 500;
}

#level-area {
    display: flex;
    flex-wrap: wrap;
}

#score-area {
    display: flex;
    flex-wrap: wrap;
}

#instructions-btn i {
    font-size: 1.4rem;
}

/* Main */
main {
    margin-top: 112.5px;
    flex: 1 0 auto;
}


/* Question section */
#question-area {
    background-color: #f7f8f3f1;
    width: 96%;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px -1px #edeac4;
    border: 10px solid white;
}

#question-text-content {
    width: 100%;
}

#question-text-content>p {
    margin: 15px 0;
}

#question-header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#question-title {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#question-title h2 {
    margin-right: 7px;
}

#question-image-container {
    width: 60%;
    max-width: 280px;
    margin: 15px auto;
    display: flex;
}

#question-image {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

/* Cake info modal button */
#cake-info-btn {
    font-size: 1.7rem;
    margin-left: 30px;
    display: flex;
}

/* Pantry area */
#pantry-section {
    background-color: #f7f8f3f1;
    width: 96%;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 0 0 50px -1px #edeac4;
    border: 10px solid white;
}

#pantry-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.selection-counter {
    background-color: rgba(252, 252, 252, 0.538);
    padding: 8px;
    align-self: flex-start;
    border-radius: 20px;
}

.counter-full {
    box-shadow: 0 0 50px -1px #f3eeab;
    background-color: rgb(252, 252, 252);
    font-weight: 500;
}

#pantry-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pantry-item {
    padding: 10px;
    flex-basis: 47%;
    text-align: center;
    background-color: white;
    margin: 7px 0;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 7px 7px 14px #e5e5dd,
        -7px -7px 14px #f9f9ef;
}

.pantry-item:hover {
    border-radius: 2px;
    box-shadow: 7px 7px 18px #bbbbb3,
        -7px -7px 14px #f9f9ef;
    background-color: #908675;
    color: white;
}

.pantry-item:active {
    box-shadow: inset 7px 7px 14px #797162,
        inset -7px -7px 14px #a79b88;
}

.pantry-item-selected {
    background-color: #908675;
    color: white;
    box-shadow: 7px 7px 18px #bbbbb3,
        -7px -7px 14px #f9f9ef;
}

.item-correct {
    background-color: rgb(36, 112, 36);
    color: white;
}

.item-incorrect {
    background-color: rgb(158, 47, 47);
    color: white;
}

.item-missed {
    background-color: #d4bc08;
    color: white;
}

.pantry-item i {
    font-size: 1.3rem;
    margin-left: 10px;
}

/* Controls area */
.controls-area {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.controls {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 7px 0;
    text-transform: uppercase;
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.controls-area div {
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#next-submit-button {
    order: -1;
    background-color: #9e9381;
    color: white;
}

#quit-button {
    background-color: rgb(158, 47, 47);
    color: white;
}

/* Results area */
.results-area {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

/* Styles for modals
Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
/* Full screen modal background */
.full-screen-modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(134, 16, 16);
    background-image: url(../images/wallpaper-gold.webp);
    background-size: cover;
}

/* Card modals background */
.modal-background {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(124, 111, 111, 0.634);
}

.modal-content-card {
    background-color: #ffffff;
    box-shadow: 0 0 30px -1px #edeac4;
    padding: 10px;
    width: 90%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    overflow-y: auto;
}

.modal-content-card h3 {
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
}

.modal-content-card p {
    padding: 10px;
}

/* The Close Button */
.modal-close-x {
    color: #aaa;
    float: right;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    padding: 0 5px;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.modal-content-button {
    padding: 6px 8px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Playpen Sans', sans-serif;
    margin: 10px;
    border: none;
    cursor: pointer;
}

/* Welcome modal */
.welcome-modal-heading {
    text-align: center;
    font-size: 1.3rem;
}

.welcome-modal-button {
    display: block;
    margin: 0 auto 20px auto;
    background-color: rgb(36, 112, 36);
    color: white;
    padding: 10px 15px;
}

/* Cake info modal */
.border-green {
    border: 8px dotted green;
}

/* Instructions modal */
.border-red {
    border: 8px dotted rgb(199, 10, 10);
}

/* Confirm quit modal */
#confirm-quit {
    background-color: rgb(199, 10, 10);
    color: white;
}

/* Quit modal */
#restart-game-button {
    display: block;
    margin: 10px auto 15px auto;
    padding: 5px 15px;
    background-color: #9e9381;
    color: white;
}

/* Footer */

footer {
    background-color: #797162;
}

.footer-wrapper {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 7.5px;
}

.social-media-links {
    margin: 10px;
}

.social-media-links a {
    text-decoration: none;
}

.social-media-links i {
    color: white;
    font-size: 2rem;
    margin: 0 10px;
}

/* Media query for tablets, screen size >= 768px */
@media screen and (min-width: 768px) {

    /* Header */
    h1 {
        font-size: 1.7rem;
        width: 50%;
        text-align: center;
        margin: 12px auto;
    }

    .stats-area {
        font-size: 1.1rem;
    }

    #instructions-btn i {
        font-size: 1.6rem;
    }

    /* Main */
    main {
        margin-top: 128px;
    }

    /* Question section */
    #question-area {
        padding: 20px 15px;
        flex-direction: row;
        font-size: 1.1rem;
    }

    #question-text-content {
        width: 70%;
        padding-left: 25px;
    }

    #question-text-content>p {
        margin: 25px 0;
    }

    #question-title h2 {
        margin-right: 7px;
    }

    #question-image-container {
        width: 27%;
        max-width: 230px;
        margin: 0 auto;
        order: -1;
    }

    #cake-info-btn {
        font-size: 2rem;
    }

    /* Pantry area */
    #pantry-area div {
        flex-basis: 31%;
        font-size: 1.1rem;
    }

    .pantry-item i {
        font-size: 1.4rem;
    }

    /* Controls area */
    .controls-area {
        flex-direction: row;
        margin: auto;
        margin-top: 20px;
        justify-content: space-evenly;
        width: 80%;
    }

    .controls {
        flex-basis: 30%;
        max-width: 240px;
    }

    /* Results area */
    .results-area {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    /* Styles for modals
Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
    /* Modal content cards */
    .modal-content-card {
        box-shadow: 0 0 40px -1px #edeac4;
        padding: 15px;
        width: 70%;
        max-height: 80%;
        font-size: 1.1rem;
    }

    .modal-content-card h3 {
        text-transform: uppercase;
        padding: 10px 20px 0 20px;
    }

    .modal-content-card p {
        padding: 10px 20px;
    }

    /* The Close Button */
    .modal-close-x {
        font-size: 1.1rem;
    }

    .modal-content-button {
        font-size: 1.1rem;
        margin: 20px;
    }

    /* Welcome modal */
    .welcome-modal-heading {
        text-align: center;
        font-size: 1.4rem;
        padding: 20px 20px 0 20px;
    }

    .modal-card-big {
        width: 80%;
    }

    .welcome-modal-button {
        margin: 15px auto 20px auto;
    }

    /* Cake info modal */
    .border-green {
        border: 10px dotted green;
    }

    /* Instructions modal */
    .border-red {
        border: 10px dotted rgb(199, 10, 10);
    }

    /* Quit modal */
    #restart-game-button {
        margin: 15px auto 20px auto;
        padding: 10px 15px;
    }

    /* Footer */
    .footer-wrapper {
        padding: 25px 17.5px;
        font-size: 1.1rem;
    }

    .social-media-links {
        margin: 0;
        margin-top: 10px;
    }

    .social-media-links i {
        font-size: 2.5rem;
        margin: 0 10px;
    }
}

/* Media query for laptops and desktops, screen size >= 992px */
@media screen and (min-width: 992px) {

    /* Header */
    .header-wrapper {
        width: 85%;
        margin: auto;
        max-width: 1200px;
    }

    h1 {
        font-size: 1.8rem;
        width: 50%;
        text-align: center;
        margin: 15px auto;
    }

    #instructions-btn i {
        font-size: 1.8rem;
    }

    /* Main */
    main {
        margin-top: 139.5px;
    }

    /* Question section */
    #question-area {
        padding: 30px 25px;
        font-size: 1.2rem;
        width: 85%;
        max-width: 1200px;
        margin-top: 20px;
    }

    #question-text-content {
        width: 75%;
        padding-left: 30px;
    }

    #question-title h2 {
        margin-right: 10px;
    }

    #question-image-container {
        width: 25%;
        max-width: 250px;
    }

    #cake-info-btn {
        font-size: 3rem;
    }

    /* Pantry area */
    #pantry-section {
        width: 85%;
        max-width: 1200px;
        margin: 15px auto;
        padding: 5px;
    }

    #pantry-area div {
        flex-basis: 23%;
        font-size: 1.1rem;
    }

    /* Controls area */
    .controls-area {
        margin-top: 40px;
    }

    .controls {
        padding: 15px;
    }

    /* Styles for modals
Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
    /* Modal content cards */
    .modal-content-card {
        box-shadow: 0 0 50px -1px #edeac4;
        padding: 15px;
        width: 60%;
        max-width: 800px;
    }

    .modal-content-card h3 {
        font-size: 1.5rem;
    }

    /* Welcome modal */
    .welcome-modal-heading {
        font-size: 1.5rem;
        padding: 20px 20px 10px 20px;
    }

    .modal-card-big {
        width: 65%;
        max-width: 900px;
    }

    .welcome-modal-button {
        margin: 20px auto 25px auto;
    }

    /* Footer */
    .footer-wrapper {
        padding: 25px 17.5px;
        font-size: 1.1rem;
        width: 85%;
        max-width: 1200px;
        margin: auto;
    }

    .social-media-links {
        margin: 0;
        margin-top: 10px;
    }

    .social-media-links i {
        font-size: 2.5rem;
        margin: 0 10px;
    }
}