/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');

/* Asterisk wildcard selector */
/* Remove default styles added by browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #632424;
    background-color: #63513c;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/wallpaper-gold.webp);
    background-size: cover;
}

h1,
h2 {
    font-family: 'Playpen Sans', sans-serif;
    text-transform: uppercase;
}

/* Header */
header {
    position: fixed;
    z-index: 98;
    background-color: #f7f8f3;
    width: 100%;
    min-height: 115px;
    background-image: url(../images/snowflakes.webp);
    background-size: cover;
    border-bottom: 10px solid #ffffff;
    box-shadow: 0 0 7px -1px #edeac4;
}

h1 {
    font-size: 1.6rem;
    width: fit-content;
    margin: 7px auto;
    padding: 7px 15px;
}

.stats-area {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    flex-basis: 33%;
    font-weight: 600;
    text-transform: uppercase;
}

#level-area {
    display: flex;
    flex-wrap: wrap;
}

#score-area {
    display: flex;
    flex-wrap: wrap;
}

#instructions-btn i {
    font-size: 1.4rem;
}

/* Main */
main {
    margin-top: 112.5px;
    flex: 1 0 auto;
}


/* Question section */
#question-area {
    background-color: #f7f8f3f1;
    width: 96%;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px -1px #edeac4;
    border: 10px solid white;
    min-height: 391px;
    max-height: 523px;
}

#question-text-content {
    width: 100%;
}

#question-text-content>p {
    margin: 15px 0;
}

#question-header {
    width: 100%;
    min-height: 36px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#question-title {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#question-title h2 {
    margin-right: 7px;
}

#question-image-container {
    width: 192px;
    height: 192px;
    margin: 15px auto;
    display: flex;
    aspect-ratio: 1/1;
}

#question-image {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 5px solid #ffffff;
}

/* Cake info modal button */
#cake-info-btn {
    font-size: 1.7rem;
    margin-left: 30px;
    display: flex;
}

/* Pantry area */
#pantry-section {
    background-color: #f7f8f3f1;
    width: 96%;
    min-height: 574px;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 0 0 50px -1px #edeac4;
    border: 10px solid white;
}

#pantry-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.selection-counter {
    background-color: rgba(252, 252, 252, 0.538);
    padding: 8px;
    align-self: flex-start;
    border-radius: 20px;
}

.counter-full {
    box-shadow: 0 0 50px -1px #edeac4;
    background-color: #ffffff;
    font-weight: 500;
}

#pantry-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 333px;
}

.pantry-item {
    padding: 10px;
    flex-basis: 47%;
    text-align: center;
    background-color: #e8e8e0;
    color: #cfcbcb;
    margin: 7px 0;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 7px 7px 14px #e5e5dd,
        -7px -7px 14px #f9f9ef;
}

.pantry-item-active {
    background-color: #ffffff;
    color: #632424;
}

.pantry-item-active:active {
    box-shadow: inset 10px 10px 31px #584c46,
        inset -10px -10px 31px #706058;
}

.pantry-item-selected {
    background-color: #63513c;
    color: white;
    box-shadow: 7px 7px 18px #bbbbb3,
        -7px -7px 14px #f9f9ef;
}

.item-correct {
    background-color: #247024;
    color: #ffffff;
}

.item-incorrect {
    background-color: #9E2F2F;
    color: white;
}

.item-missed {
    background-color: #d4bc08;
    color: white;
}

.pantry-item i {
    font-size: 1.3rem;
    margin-left: 10px;
}

/* Controls area */
.controls-area {
    width: 100%;
    height: 121px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.controls {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 7px 0;
    text-transform: uppercase;
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.controls-area div {
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#next-submit-button,
#finish-button {
    order: -1;
    background-color: #63513c;
    color: #ffffff;
    background: linear-gradient(145deg, #6a5740, #594936);
    box-shadow: 7px 7px 18px #bbbbb3,
        -7px -7px 14px #f9f9ef;
}

#quit-button {
    background-color: #9E2F2F;
    color: #ffffff;
    background: linear-gradient(145deg, #a93232, #8e2a2a);
    box-shadow: 7px 7px 18px #bbbbb3,
        -7px -7px 14px #f9f9ef;
}

#next-submit-button:active,
#finish-button:active {
    box-shadow: inset 10px 10px 31px #584c46,
        inset -10px -10px 31px #706058;
}

#quit-button:active {
    box-shadow: inset 10px 10px 31px #8b2929,
        inset -10px -10px 31px #b13535;
}

/* Results area */
.results-area {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

/* Styles for modals
Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
/* Full screen modal background */
.full-screen-modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f7f8f3f1;
    background-image: url(../images/wallpaper-gold.webp);
    background-size: cover;
}

/* Card modals background */
.modal-background {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(124, 111, 111, 0.634);
}

.modal-content-card {
    background-color: #ffffff;
    box-shadow: 0 0 30px -1px #edeac4;
    padding: 10px;
    width: 90%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    overflow-y: auto;
}

.modal-content-card h3 {
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
}

.modal-content-card p {
    padding: 10px;
}

/* The Close Button */
.modal-close-x {
    color: #632424;
    float: right;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #632424;
    padding: 0 5px;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.modal-content-button {
    padding: 6px 8px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Playpen Sans', sans-serif;
    margin: 10px;
    border: none;
    cursor: pointer;
}

/* Welcome modal and Quit modal */
.welcome-modal-heading {
    text-align: center;
    font-size: 1.3rem;
}

.welcome-modal-button,
#restart-game-button {
    display: block;
    margin: 0 auto 20px auto;
    background-color: #247024;
    background: linear-gradient(145deg, #277827, #206520);
    color: #ffffff;
    padding: 10px 15px;
    box-shadow: 7px 7px 18px #bbbbb3,
        -7px -7px 14px #f9f9ef;
}

.welcome-modal-button:active,
#restart-game-button:active {
    background: #247024;
    box-shadow: inset 10px 10px 31px #206320,
        inset -10px -10px 31px #287d28;
}

/* Cake info modal */
.border-green {
    border: 8px dotted #247024;
}

/* Instructions modal */
.border-red {
    border: 8px dotted #b8372d;
}

/* Confirm quit modal */
#confirm-quit {
    background-color: #b8372d;
    color: white;
}

#confirm-quit:active {
    box-shadow: inset 10px 10px 31px #8b2929,
        inset -10px -10px 31px #b13535;
}

#confirm-quit-modal-close:active {
    box-shadow: inset 10px 10px 31px #cacaca,
        inset -10px -10px 31px #ffffff;
}

/* Footer */

footer {
    background-color: #63513c;
    width: 100%;
    height: 108.5px;
}

.footer-wrapper {
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 7.5px;
}

.social-media-links {
    margin: 10px;
}

.social-media-links a {
    text-decoration: none;
}

.social-media-links i {
    color: #ffffff;
    font-size: 2rem;
    margin: 0 10px;
}

/* Media query for tablets, screen size >= 768px */
@media screen and (min-width: 768px) {

    /* Header */
    h1 {
        font-size: 1.7rem;
        width: 50%;
        text-align: center;
        margin: 12px auto;
    }

    .stats-area {
        font-size: 1.1rem;
    }

    #instructions-btn i {
        font-size: 1.6rem;
    }

    /* Main */
    main {
        margin-top: 128px;
    }

    /* Question section */
    #pantry-section {
        min-height: 432.5px;
    }

    #question-area {
        padding: 20px 15px;
        flex-direction: row;
        font-size: 1.1rem;
        min-height: 252px;
        max-height: 281px;
    }

    #question-text-content {
        width: 70%;
        padding-left: 25px;
    }

    #question-text-content>p {
        margin: 25px 0;
    }

    #question-title h2 {
        margin-right: 7px;
    }

    #question-image-container {
        width: 192px;
        height: 192px;
        margin: 0 auto;
        order: -1;
        align-self: center;
    }

    #cake-info-btn {
        font-size: 2rem;
    }

    /* Pantry area */
    #pantry-area {
        min-height: 242px;
    }

    #pantry-area div {
        flex-basis: 31%;
        font-size: 1.1rem;
    }

    .pantry-item i {
        font-size: 1.4rem;
    }

    /* Controls area */
    .controls-area {
        flex-direction: row;
        margin: auto;
        margin-top: 20px;
        justify-content: space-evenly;
        width: 80%;
        height: 60.5px;
    }

    .controls {
        flex-basis: 30%;
        max-width: 240px;
    }

    /* Results area */
    .results-area {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    /* Styles for modals
Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
    /* Modal content cards */
    .modal-content-card {
        box-shadow: 0 0 40px -1px #edeac4;
        padding: 15px;
        width: 70%;
        max-height: 80%;
        font-size: 1.1rem;
    }

    .modal-content-card h3 {
        text-transform: uppercase;
        padding: 10px 20px 0 20px;
    }

    .modal-content-card p {
        padding: 10px 20px;
    }

    /* The Close Button */
    .modal-close-x {
        font-size: 1.1rem;
    }

    .modal-content-button {
        font-size: 1.1rem;
        margin: 20px;
    }

    /* Welcome modal */
    .welcome-modal-heading {
        text-align: center;
        font-size: 1.4rem;
        padding: 20px 20px 0 20px;
    }

    .modal-card-big {
        width: 80%;
    }

    .welcome-modal-button {
        margin: 15px auto 20px auto;
    }

    /* Cake info modal */
    .border-green {
        border: 10px dotted #247024;
    }

    /* Instructions modal */
    .border-red {
        border: 10px dotted #b8372d;
    }

    /* Quit modal */
    #restart-game-button {
        margin: 15px auto 20px auto;
        padding: 10px 15px;
    }

    /* Footer */
    footer {
        height: 129.5px;
    }

    .footer-wrapper {
        padding: 25px 17.5px;
        font-size: 1.1rem;
    }

    .social-media-links {
        margin: 0;
        margin-top: 10px;
    }

    .social-media-links i {
        font-size: 2.5rem;
        margin: 0 10px;
    }
}

/* Media query for laptops and desktops, screen size >= 992px */
@media screen and (min-width: 992px) {

    /* Header */
    .header-wrapper {
        width: 85%;
        margin: auto;
        max-width: 1200px;
    }

    h1 {
        font-size: 1.8rem;
        width: 50%;
        text-align: center;
        margin: 15px auto;
    }

    #instructions-btn i {
        font-size: 1.8rem;
    }

    /* Main */
    main {
        margin-top: 139.5px;
    }

    /* Question section */
    #question-area {
        padding: 30px 25px;
        font-size: 1.2rem;
        width: 85%;
        max-width: 1200px;
        margin-top: 20px;
        min-height: 280px;
        max-height: 321px;
    }

    #question-text-content {
        width: 75%;
        padding-left: 30px;
    }

    #question-title h2 {
        margin-right: 10px;
    }

    #question-image-container {
        width: 200px;
        height: 200px;
    }

    #cake-info-btn {
        font-size: 3rem;
    }

    /* Pantry area */
    #pantry-section {
        width: 85%;
        max-width: 1200px;
        margin: 15px auto;
        padding: 5px;
        min-height: 392px;
    }

    #pantry-area {
        min-height: 181.5px;
    }

    #pantry-area div {
        flex-basis: 23%;
        font-size: 1.1rem;
    }

    /* Controls area */
    .controls-area {
        margin-top: 40px;
        height: 70.5px;
    }

    .controls {
        padding: 15px;
    }

    /* Styles for modals
Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
    /* Modal content cards */
    .modal-content-card {
        box-shadow: 0 0 50px -1px #edeac4;
        padding: 15px;
        width: 60%;
        max-width: 800px;
    }

    .modal-content-card h3 {
        font-size: 1.5rem;
    }

    /* Welcome modal and quit modal */
    .welcome-modal-heading {
        font-size: 1.5rem;
        padding: 20px 20px 10px 20px;
    }

    .modal-card-big {
        width: 65%;
        max-width: 900px;
    }

    .welcome-modal-button {
        margin: 20px auto 25px auto;
    }

    /* Footer */
    .footer-wrapper {
        padding: 25px 17.5px;
        font-size: 1.1rem;
        width: 85%;
        max-width: 1200px;
        margin: auto;
    }

    .social-media-links {
        margin: 0;
        margin-top: 10px;
    }

    .social-media-links i {
        font-size: 2.5rem;
        margin: 0 10px;
    }
}

/* Device that can hover (desktops) */
/* Credit: https://www.smashingmagazine.com/2022/03/guide-hover-pointer-media-queries/ */
@media (hover: hover) {

    /* Pantry item hover */
    .pantry-item-active:hover {
        border-radius: 2px;
        box-shadow: 7px 7px 18px #bbbbb3,
            -7px -7px 14px #f9f9ef;
        background-color: #63513c;
        color: #ffffff;
    }

    /* Controls hover */
    #next-submit-button:hover,
    #quit-button:hover,
    #finish-button:hover {
        box-shadow: 10px 10px 31px #afa19b,
            -10px -10px 31px #ffffff;
    }

    /* Modal buttons hover */
    .welcome-modal-button:hover,
    #restart-game-button:hover {
        box-shadow: 10px 10px 31px #afa19b,
            -10px -10px 31px #ffffff;
    }

    /* Confirm quit modal */
    #confirm-quit:hover,
    #confirm-quit-modal-close:hover {
        box-shadow: 10px 10px 31px #afa19b,
            -10px -10px 31px #ffffff;
    }

}